:root {
  --background-color: #fff;
  --section-bright: #f8f200;
  --section-dark: #000;
  --text-bright: #f8f200;
  --text-dark: #000;
  --links-text: #52bedc;
  --main-text: #fff;
  --accent-font: Archangelsk;
  --main-font: Roboto;
  --game-description-text: #777;
}